<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  {% unless page.hide_title %}
  <title>{{ page.title }}</title>
  {% endunless %}
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}" />
</head>
<body class="bg-gradient-to-b from-gray-900 to-gray-800 text-gray-200 min-h-screen">
  
  {% if page.url == "/" %}
    {% include header.html %}
    {% include navbar.html %}
  {% endif %}

  {{ content }}
  {% include footer.html %}
  
</body>
</html>